.table{
    width: 1200px; 
    margin-left: 25px; 
    margin-top: 20px;

}

#title1 {
    margin-left:25px;
    margin-top:25px
}

#button1 {
  margin-left:750px;
}

#forms{
    width: 500px; 
    margin-left: 15px;
}

#button2{
    margin-top: 50px;
}